<div class="container-fluid list-card">
    <div class="card action-card ">
        <div class="card-body action-card-body ">
            <form class="actionForm" #f="ngForm">
                <div class="d-flex justify-content-between  p-0 mb-3">
                    <div class="flex-fill max1">
                        <!-- <div class="action-title  safety-primary-color truncate-overflow-text pr-2">
                            {{boardName ? boardName + ' Board' : ''}} </div> -->
                        <div class="action-title  safety-primary-color truncate-overflow-text pr-2">
                        All Tasks    
                        </div>
                    </div>
                    <div class="d-flex col-5">
                        <div class="flex-fill search-bar" id="custom-search-input">
                            <div class="d-flex input-group s-search-box">
                                <div class="flex-fill">
                                    <input type="text" placeholder="Search..." name="search_name"
                                        [(ngModel)]="searchText"  #search_name="ngModel" />
                                </div>
                                <!-- <span class="input-group-btn">
                                    <button class="btn" type="button" title="Search">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                                <span class="input-group-btn">
                                    <button class="btn" type="button" title="Clear" (click)="clearSearch()">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </span> -->
                            </div>
                        </div>
                        </div>
                        <div class="d-flex ">
                            <div class="ml-1 action-btn-class">
                                <div class="ml-2 action-btn-class">
                                    <button type="button" (click)="createTask()" class="btn  btn-outline-primary">Create New Task</button>
                                </div>
                        
                            </div>
                        </div>
                </div>
                <ng-container >
                    <div *ngIf="isAdd || isEdit">
                        <hr>
                        <app-create-update-task [isEdit] = "isEdit" [taskToEdit]="taskToEdit" (relaodTasks) ="getAllTasks()" (close)="close()">
                        </app-create-update-task>
                    </div>
                </ng-container>
            </form>
        </div>
    </div>

    <div  class="mt-2 mb-2 d-flex col-head-row">
        <div class="col-1 truncate-overflow-text col-cell-head-p">
            <span class="name" title="Task"></span>
        </div>
        <div class="col-5 truncate-overflow-text col-cell-head-p">
            <span class="name" title="Task">Task</span>
        </div>
        <div class="col-2 truncate-overflow-text col-cell-head-p">
            <span class="name" title="Due on">Due on </span>
        </div>
        <div class="col-1 truncate-overflow-text col-cell-head-p">
            <span class="name" title="Priority">Priority</span>
        </div>
        <div class="col-1 truncate-overflow-text col-cell-head-p">
            <span class="name" title="Asssigned to">Asssigned to</span>
        </div>
        <div class="col-2 truncate-overflow-text col-cell-head-p">
            <span class="d-flex justify-content-end pr-2" title="Modified At">Action</span>
        </div>
    </div>
    <div class="mb-2 list-card-items">
        <div *ngFor="let task of tasksList | searchByAll: {message: searchText, due_date:searchText,  priority: searchText}; let i=index" [hidden] ="hideByIndex===i"  class="list-card-item">
            <div class="row col-data-row align-items-center " >
                <div class="col-1  truncate-overflow-text">
                    <i class="cursor-pointer pl-2 pr-2 fa fa-bars"></i>
                    <label class="form-check-label pl-2">
                        <input type="checkbox"  name="task{{i}}" id="task{{i}}"
                           [checked]="false">
                      </label>
                </div>
                <div class="col-5  truncate-overflow-text">
                    <span class="name" title="{{task.message}}">{{task.message}}</span>
                </div>
                <div class="col-2 truncate-overflow-text">
                    <span class="name" title="{{task.due_date}}">{{task.due_date}}</span>
                </div>
                <div class="col-1 truncate-overflow-text">
                    <span class="badge badge-pill" [ngClass]="{'badge-warning': task.priority === '2','badge-info': task.priority === '1','badge-danger': task.priority === '3'}" 
                    title="{{task.priority |taskPriority}}">{{task.priority |taskPriority}}</span>
                </div>
                <div class="col-1 truncate-overflow-text" >
                    <ng-container *ngIf="assignedUser">
                        <div class="cursor-pointer d-flex flex-column justify-content-center ml-2">
                            <img class="rounded-circle list-avatar" title="{{assignedUser[task.assigned_to].name}}" [src]="assignedUser[task.assigned_to].picture">
                            <!-- <span class="pt-2" title="{{assignedUser[task.assigned_to].name}}">{{assignedUser[task.assigned_to].name}}</span> -->
                        </div>
                    </ng-container>
                </div>
                <div class="col-2 d-flex truncate-overflow-text">
                    <span class="cursor-pointer d-flex flex-fill justify-content-end" title="Edit task" (click)="editTask(task,i)">
                    <i class="fa-2x fa fa-pencil pencil-icon-color" aria-hidden="true"></i>
                    </span>
                    <span class="cursor-pointer d-flex ml-3 pr-4 justify-content-end" title="Delete task" (click)="deleteTask(task)">
                        <i class="fa-2x fa fa-trash trash-icon-color" aria-hidden="true"></i>
                    </span>
                </div>
          
            </div>
        </div>
</div>